.itemContainer {
    width: 100%;
    padding: 0 20px;
}
.itemContainer:hover {
    background-color: #f8f8f8;
}
.item {
    display: flex;
    align-items: center;
    height: 53px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.itemContainer:last-child .item {
    border-bottom: none;
}
.item.header {
    background-color: #fff;
    width: 100%;
    padding: 0 25px;
}
.main {
    flex: 1;
    height: 100%;
    display: flex;
}
.channelName {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.channelName a {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}
.channelName img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}
.channelName span.name {
    display: inline-block;
    margin-left: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.channelName:hover span.name {
    color: #065fd4;
}
.subscribeDate {
    min-width: 168px;
    height: 100%;
    padding: 0 12px;
    display: flex;
    align-items: center;
}
.item.header .subscribeDate {
    cursor: pointer;
    user-select: none;
}
.subscribeDate svg {
    margin-left: 5px;
}
.totalSubscribers {
    flex: 1;
    padding: 0 12px;
    display: flex;
    align-items: center;
}
.action {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    user-select: none;
}
.channelName span.name,
.subscribeDate span,
.totalSubscribers span,
.action span {
    font-size: 1.3rem;
    color: #606060;
}
.item.header .subscribeDate span {
    font-weight: 500;
    color: #000;
}
.item:not(.header) .action span {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.item:not(.header) .action span {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.4rem;
}
.item:not(.header) .action span.subscribe {
    color: #065fd4;
}
@media only screen and (max-width: 768px) {
    .subscribeDate {
        min-width: 0;
    }
}
