.wrapper {
    width: 100%;
    position: relative;
    background-color: #000;
}
.wrapper::before {
    content: '';
    padding-top: 56.25%;
    display: block;
}
.wrapper .aspectRatio {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: #000;
}
.nextVideo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 52px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper.small .nextVideo {
    bottom: 0;
}
.volume {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 8px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
}
.volume:hover {
    background-color: #000;
}
.volume > div {
    display: none;
}
.volume:hover > div {
    display: block;
}
@keyframes hide {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        z-index: -1;
    }
}
.video {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    position: relative;
}
.video.blackBg::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
}
.wrapper.fullscreen {
    display: flex;
    align-items: center;
}
.wrapper.fullscreen .video {
    width: 100%;
    aspect-ratio: 16/9;
}
/* controls */
.controls {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 1;
    padding: 0 10px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent);
    opacity: 0;
    transition: opacity 0.3s linear;
}
.controls.hidden {
    display: none;
}
.wrapper:hover .controls,
.wrapper.pauseVideo .controls {
    opacity: 1;
}
.controls .actions {
    width: 100%;
    display: flex;
    align-items: center;
}
.wrapper.small .animation.atPlayVideo {
    display: none;
}
.animation {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    border-radius: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}
.animation.show {
    display: flex;
}
.animation.atPlayVideo {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: animation 0.5s ease forwards;
}
/* prev time */
.animation.prevTime {
    width: 80px;
    height: 80px;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.5);
    font-size: 22px;
    flex-direction: column;
}
.animation.prevTime svg:nth-child(3) {
    animation: animation2 0.2s ease;
}
.animation.prevTime svg:nth-child(2) {
    animation: animation2 0.2s ease;
    animation-delay: 0.2s;
}
.animation.prevTime svg:nth-child(1) {
    animation: animation2 0.2s ease;
    animation-delay: 0.4s;
}
.wrapper.small .animation.prevTime,
.wrapper.small .animation.nextTime {
    font-size: 1.4rem;
    width: 50px;
    height: 50px;
    top: calc(50% - 55px);
    left: 50%;
    color: #fff;
}
.wrapper.small .animation.prevTime span,
.wrapper.small .animation.nextTime span {
    font-size: 1.1rem;
}
/* next time */
.animation.nextTime {
    width: 80px;
    height: 80px;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.5);
    font-size: 22px;
    flex-direction: column;
}
.animation.nextTime svg:nth-child(1) {
    animation: animation2 0.2s ease;
}
.animation.nextTime svg:nth-child(2) {
    animation: animation2 0.2s ease;
    animation-delay: 0.2s;
}
.animation.nextTime svg:nth-child(3) {
    animation: animation2 0.2s ease;
    animation-delay: 0.4s;
}
.animation.prevTime span,
.animation.nextTime span {
    font-size: 1.3rem;
}
@keyframes animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translate(-50%, -50%) scale(2);
    }
}
@keyframes animation2 {
    0% {
        color: rgba(255, 255, 255, 0.5);
    }
    50% {
        color: rgba(255, 255, 255, 1);
    }
    100% {
        color: rgba(255, 255, 255, 0.5);
    }
}
/* preview */
.wrapper.preview .controls {
    height: 40px;
    background-color: transparent;
}
/* size medium */
.wrapper.medium .animation {
    font-size: 15px;
}
.wrapper.medium .animation.atPlayVideo {
    width: 30px;
    height: 30px;
    font-size: 15px;
}
.wrapper.medium .animation.prevTime,
.wrapper.medium .animation.nextTime {
    width: 60px;
    height: 60px;
}
.wrapper.medium .animation.prevTime span,
.wrapper.medium .animation.nextTime span {
    font-size: 1.1rem;
}
.wrapper.small .actions {
    padding-bottom: 25px;
}
