.wrapper {
    width: 100%;
}
.container {
    max-width: 1070px;
    margin: 0 auto;
    display: flex;
    padding: 24px 0 40px 0;
}
.img {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    margin-right: 24px;
    position: relative;
    border: 1px solid #efeeee;
}
.img .selectFile {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
    border-radius: 50%;
}
.img .selectFile.loading {
    cursor: no-drop;
}
.img .selectFile.loading::after {
    content: '';
    position: absolute;
    left: -4px;
    top: -4px;
    right: -4px;
    bottom: -4px;
    border-radius: 50%;
    border: 1px solid #636262;
    border-top-color: transparent;
    animation: spin 1s linear infinite;
    z-index: -1;
}
@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
.img .selectFile input {
    width: 0;
    height: 0;
}
.img .selectFile [data-class='tooltip'] {
    display: none;
}
.img .selectFile:hover [data-class='tooltip'] {
    display: block;
}
.img .selectFile .icon {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 35px;
    height: 35px;
    background-color: #efeeee;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img .selectFile .icon svg {
    font-size: 2rem;
    color: #000;
}
.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.owner {
    flex: 1;
    margin-top: 16px;
}
.containerName {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.name {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
    margin-right: 10px;
}
.name strong {
    font-size: 2.4rem;
    font-weight: 400;
    position: relative;
}
.name strong div {
    display: none;
}
.name strong:hover div {
    display: block;
}
.name svg {
    margin-left: 10px;
    color: #606060;
}
.containerBtn {
    margin-bottom: 7px;
}
.containerBtn a.btn {
    display: inline-block;
    text-align: center;
    line-height: 37px;
}
.containerBtn .btn {
    min-width: 83px;
    padding: 0 12px;
    height: 37px;
    border-radius: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 500;
    background-color: #e9e9e9;
    color: #000;
}
.containerBtn.loading .btn {
    background-color: rgba(0, 0, 0, 0.1);
    color: #bab8b8;
    cursor: no-drop;
}
.containerBtn:not(.loading) .btn.subscriber {
    background-color: rgba(0, 0, 0, 1);
    color: #fff;
}
.containerBtn .btn + .btn {
    margin-left: 10px;
}
.containerBtn:not(.loading) .btn:hover {
    background-color: #dcdbdb;
}
.containerBtn:not(.loading) .btn.subscriber:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.meta {
    font-size: 1.4rem;
    color: #606060;
}
.meta > * + * {
    margin-left: 10px;
}
.about {
    width: fit-content;
    max-width: 500px;
    margin-top: 10px;
    padding-right: 15px;
    font-size: 1.3rem;
    cursor: pointer;
    position: relative;
}
.about a span {
    color: #606060;
    display: inline-block;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.about.noDes a span {
    margin-right: 5px;
}
.about svg {
    position: absolute;
    right: 0;
    top: -2px;
}
@media only screen and (max-width: 768px) {
    .containerName {
        justify-content: flex-start;
    }
}
@media only screen and (max-width: 550px) {
    .container {
        flex-direction: column;
    }
    .img {
        display: block;
        margin: 0 auto;
    }
    .owner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .containerName {
        flex-direction: column;
    }
}
