.wrapper {
    width: 100%;
}
.topRow {
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media only screen and (max-width: 768px) {
    .location {
        display: flex;
        flex-direction: column-reverse;
    }
}
