.wrapper {
    margin-top: 54px;
    margin-left: 250px;
}
.wrapper[data-type='full'].toggle,
.wrapper[data-type='mini'] {
    margin-left: 85px;
}
.wrapper[data-type='hidden'] {
    margin-left: 0;
}
.container {
    width: 100%;
    padding: 10px 30px;
}
