.wrapper {
    margin-top: 54px;
    margin-left: 250px;
}
.wrapper.mobile {
    margin-top: 54px;
    margin-left: 0;
}
.container {
    width: 100%;
    padding: 10px 30px;
}
@media only screen and (min-width: 1331px) {
    .wrapper:not(.mobile).toggle {
        margin-left: 85px;
    }
}
@media only screen and (max-width: 1330px) {
    .wrapper:not(.mobile) {
        margin-left: 85px;
    }
}
@media only screen and (max-width: 1080px) {
    .container {
        padding: 8px 12px;
    }
}
@media only screen and (max-width: 768px) {
    .wrapper:not(.mobile) {
        margin-left: 0;
    }
    .wrapper {
        margin-bottom: 70px;
    }
    .wrapper.pageShorts {
        margin-top: 0;
        margin-bottom: 0;
        background-color: #000;
    }
    .wrapper.pageShorts .container {
        padding: 0;
    }
}
/* @media only screen and (max-width: 480px) {
    
} */
