.wrapper {
    width: 100%;
    padding: 22px 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #fff;
}
.title h4 {
    font-size: 1.8rem;
    color: #0d0d0d;
    font-weight: 500;
}
