.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 98;
    opacity: 0;
    cursor: pointer;
    display: none;
    transition: opacity 0.3s ease;
}
.overlay.show {
    opacity: 1;
    display: block;
}
.wrapper {
    width: 100%;
    max-width: 614px;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 99;
}
.form {
    width: 100%;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}
.wrapper.show .form {
    border: none;
    border-bottom: 1px solid#ccc;
    border-radius: 5px 5px 0 0;
}
.icon {
    width: 57px;
    display: flex;
    justify-content: center;
}
.form input {
    flex: 1;
    height: 100%;
    outline: none;
    border: none;
    color: #909090;
    font-weight: 550;
}
.wrapper.show .form input {
    color: #0d0d0d;
}
.form input::placeholder {
    color: #b2b2b2;
}
.close {
    width: 57px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    visibility: hidden;
}
.close.show {
    visibility: visible;
}
.iconSearch {
    width: 40px;
    height: 100%;
    text-align: center;
    display: none;
}
.loading {
    width: 100%;
    height: 4px;
    background-color: #2e9afe;
    position: relative;
    overflow: hidden;
}
.loading::before {
    content: '';
    position: absolute;
    width: 60%;
    height: 100%;
    bottom: 0;
    right: 100%;
    background-color: #2e2efe;
    animation: ani 2s linear infinite;
}
@keyframes ani {
    0% {
        right: 100%;
        width: 60%;
    }
    65% {
        right: -20%;
        width: 20%;
    }
    66% {
        right: 100%;
        width: 60%;
    }
    100% {
        right: -20%;
        width: 20%;
    }
}
.menu {
    position: absolute;
    width: 100%;
    top: 100%;
    border-radius: 0 0 5px 5px;
    background-color: #fff;
    overflow: hidden;
}
.title {
    width: 100%;
    padding: 13px 25px;
    border-bottom: 1px solid #ccc;
    font-size: 1.3rem;
    font-weight: 500;
    color: #0d0d0d;
}
@media only screen and (max-width: 768px) {
    .overlay.show {
        background-color: #fff;
    }
    .wrapper {
        flex-direction: row;
        align-items: center;
        justify-content: right;
    }
    .wrapper.show {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: var(--header-height);
        max-width: 100%;
        background-color: #fff;
        border-bottom: 1px solid #ccc;
    }
    .form {
        display: none;
    }
    .wrapper.show .form {
        display: flex;
        border: none;
    }
    .wrapper.show .form input {
        border-bottom: 1px solid #ccc;
    }
    .wrapper.show .form .close {
        display: none;
    }
    .wrapper.show .menu {
        top: 100%;
        height: calc(100vh - var(--header-height));
        overflow: auto;
    }
    .iconSearch {
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
    .wrapper .loading {
        position: absolute;
        left: 0;
        top: 100%;
        z-index: 999;
    }
}
