.wrapper {
    width: 100%;
}
.wrapper ul {
    width: 100%;
    list-style: none;
    padding: 10px 0;
}
.wrapper ul + ul {
    border-top: 1px solid#ccc;
}
.wrapper ul h3 {
    font-size: 1.5rem;
    font-weight: 400;
    display: inline-block;
    padding: 5px 0;
}
.wrapper ul li {
    font-size: 1.4rem;
}
.wrapper ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #0f0f0f;
    padding: 7px 12px;
    border-radius: 7px;
}
.wrapper ul:not(.hidden) li a.active,
.wrapper ul li a:hover {
    background-color: rgba(230, 230, 230, 0.5);
}
.wrapper ul li a.active {
    color: #000;
    font-weight: 500;
}
.wrapper ul li a .ic2 {
    display: none;
}
.wrapper ul li a.active .ic1 {
    display: none;
}
.wrapper ul li a.active .ic2 {
    display: block;
}
.wrapper ul li a .icon {
    font-size: 20px;
    margin-right: 25px;
}
.wrapper ul li a .avatar {
    margin-right: 23px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}
.wrapper ul li a .text {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.wrapper ul li a .online {
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #065fd4;
    margin-left: 7px;
}
/* mini */
.wrapper[data-type='full'].toggle ul h3.title,
.wrapper[data-type='mini'] ul h3.title {
    display: none;
}

.wrapper[data-type='full'].toggle ul,
.wrapper[data-type='mini']:not(.toggle) ul {
    border-top: none;
    padding: 0;
}
.wrapper[data-type='full'].toggle ul li:not(.visible),
.wrapper[data-type='mini']:not(.toggle) ul li:not(.visible) {
    display: none;
}

.wrapper[data-type='full'].toggle ul li a,
.wrapper[data-type='mini']:not(.toggle) ul li a {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 0;
    width: 64px;
    height: 74px;
}
.wrapper[data-type='full'].toggle ul li a span.icon,
.wrapper[data-type='mini']:not(.toggle) ul li a span.icon {
    margin-right: 0;
}
.wrapper[data-type='full'].toggle ul li a span.text,
.wrapper[data-type='mini']:not(.toggle) ul li a span.text {
    font-size: 1rem;
    font-weight: 400;
    flex: none;
}
