.wrapper {
    width: 100%;
}
.topRow {
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
@media only screen and (max-width: 768px) {
    .wrapper {
        margin-top: var(--videoHeight);
    }
    .location {
        display: flex;
        flex-direction: column-reverse;
    }
}
@media screen and (orientation: landscape) {
    .wrapper {
        margin-top: 0;
    }
}
