.wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    padding: 0 17px;
    display: flex;
    flex-direction: column;
    z-index: 99;
}
.main {
    width: 100%;
    height: 54px;
}
.headerMenu {
    display: none;
}
.menu {
    width: 100%;
    flex: 1;
    position: relative;
    overflow-y: auto;
    padding-right: 14px;
}
/* Track */
.menu::-webkit-scrollbar-track {
    background: transparent;
}
.menu:hover::-webkit-scrollbar-track {
    background: #f1f1f1;
}
/* Handle */
.menu::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 5px;
}
.menu:hover::-webkit-scrollbar-thumb {
    background: #7a7676;
}
.footerMenu {
    width: 100%;
    border-top: 1px solid#ccc;
    padding: 8px 6px;
    font-size: 1.3rem;
    line-height: 19px;
}
.footerMenu + .footerMenu {
    border-top: none;
    margin-top: 10px;
}
.footerMenu a {
    text-decoration: none;
    color: #333;
}
.footerMenu a + a {
    margin-left: 5px;
}
/*  */
.overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
    animation: op 0.3s ease;
    cursor: pointer;
    display: none;
}
@keyframes op {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

@keyframes sliderToRight {
    from {
        left: -250px;
    }
    to {
        left: 0;
    }
}
@media only screen and (min-width: 1331px) {
    .wrapper:not(.mobile).toggle {
        width: 95px;
        padding: 0 5px;
    }
    .wrapper:not(.mobile).toggle .footerMenu {
        display: none;
    }
}
@media only screen and (max-width: 1330px) and (min-width: 769px) {
    .wrapper:not(.mobile) {
        width: 95px;
        padding: 0 5px;
    }
    .wrapper:not(.mobile).toggle {
        animation: sliderToRight 0.3s linear;
    }
    .wrapper:not(.mobile) .footerMenu {
        display: none;
    }

    .wrapper:not(.mobile).toggle {
        left: -250px;
        width: 250px;
        padding: 0 17px;
        background-color: #fff;
        z-index: 9999;
    }
    .wrapper:not(.mobile).toggle {
        left: 0;
    }
    .wrapper:not(.mobile).toggle .main .headerMenu {
        display: block;
    }
    .overlay.toggle {
        display: block;
    }
}
@media only screen and (max-width: 768px) {
    .overlay.toggle {
        display: block;
    }
    .wrapper {
        position: fixed;
        background-color: #fff;
        width: 100%;
        left: 0;
        bottom: 0;
        height: auto;
        padding: 0 10px;
        box-shadow: 0px -2px 2px #f9f9f9;
        z-index: 994;
    }
    .main {
        display: none;
    }
    .menu {
        padding-right: 0;
    }
    .footerMenu {
        display: none;
    }
    /* */
    .wrapper.toggle {
        left: 0;
        width: 250px;
        height: 100vh;
        padding: 0 17px;
        background-color: #fff;
        animation: sliderToRight 0.3s linear;
        z-index: 9999;
    }
    .wrapper.toggle .main {
        max-width: 255px;
        margin: 0 auto;
        display: block;
    }
    .wrapper.toggle .main .headerMenu {
        display: block;
    }
    .wrapper.toggle .menu {
        overflow: auto;
    }
    .wrapper.toggle .footerMenu {
        display: block;
    }
}
@media only screen and (min-width: 769px) {
    .overlay.mobile.toggle {
        display: block;
    }
    .wrapper.mobile {
        left: -250px;
        width: 250px;
        padding: 0 17px;
        background-color: #fff;
        transition: left 0.3s linear;
        z-index: 9999;
    }
    .wrapper.mobile .main .headerMenu {
        display: block;
    }
    .wrapper.mobile.toggle {
        left: 0;
    }
}
