.wrapper {
    width: 100%;
    margin-top: 70px;
}
.wrapper.noData {
    margin-top: 0;
}
.item {
    max-width: 852px;
    width: 100%;
    padding: 8px 16px;
    border: 1px solid#e5e5e5;
    border-radius: 10px;
    display: flex;
    align-items: start;
}
.item + .item {
    margin-top: 25px;
}
.item:last-child {
    margin-bottom: 50px;
}
.img {
    width: 56px;
}
.img img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}
.main {
    flex: 1;
}
.info {
    width: 100%;
}
.name.time {
    display: inline-block;
}
.name {
    font-size: 1.3rem;
    font-weight: 500;
    color: #000;
}
.time {
    margin-left: 10px;
    font-size: 1.3rem;
    color: #606060;
}
.title {
    font-size: 1.4rem;
    margin-top: 5px;
}
.videoCard {
    margin-top: 20px;
    max-width: 720px;
}
.actions {
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.actions .btn {
    outline: none;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.actions .btn:hover {
    background-color: #e5e5e5;
}
.actions .count {
    display: inline-block;
    margin-right: 10px;
    font-size: 1.2rem;
    color: #606060;
}
.actions .btn > div {
    display: none;
}
.actions .btn:hover > div {
    display: block;
}
.dotMenu {
    margin-top: 16px;
}
.dotMenu:not(.active) {
    opacity: 0;
}
.item:hover .dotMenu {
    opacity: 1;
}
