.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-between;
    z-index: 998;
    padding: 0 16px;
    background-color: #fff;
    transition: top 0.3s linear;
}
@media only screen and (max-width: 768px) {
    .header {
        box-shadow: 0 0 3px 1px #ccc;
    }
    .header.hidden {
        top: -60px;
    }
}
