.wrapper {
    width: 100%;
}
.body {
    padding: 0 25px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -22px;
}
.card {
    width: calc(33.333% - 22px);
    max-width: 394px;
    min-width: 300px;
    margin-left: 22px;
    margin-bottom: 20px;
}
@media only screen and (max-width: 720px) {
    .body {
        justify-content: center;
    }
}
