.wrapper {
    width: 100%;
}
.body {
    padding: 0 25px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -22px;
}
.card {
    width: calc(33.333% - 22px);
    max-width: 394px;
    margin-left: 22px;
    margin-bottom: 20px;
}
@media only screen and (max-width: 1480px) {
    .card {
        width: calc(50% - 22px);
    }
}
@media only screen and (max-width: 768px) {
    .card {
        width: calc(100% - 22px);
        margin: 0 auto;
        margin-bottom: 20px;
    }
}
