.wrapper {
    width: 100%;
    padding: 20px 70px 0 70px;
}
.sort {
    width: 100%;
    display: flex;
    align-items: center;
}
.sort .link a {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 500;
    color: #065fd4;
    padding: 8px 16px;
    border-radius: 20px;
}
.sort .link a:hover {
    background-color: rgba(6, 95, 212, 0.1);
}
.sort .icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.sort .icon [data-class='tooltip'] {
    display: none;
}
.sort .icon:hover [data-class='tooltip'] {
    display: block;
}
.cardWrapper {
    margin-left: -15px;
}
.cardContainer {
    width: 100%;
}
.cardContainer + .cardContainer {
    padding-top: 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.card {
    width: 100%;
    max-width: 862px;
    margin-bottom: 25px;
}
.channel {
    width: 100%;
}
.channel a {
    display: flex;
    align-items: center;
}
.channel a img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}
.channel a strong {
    margin-left: 10px;
    font-size: 1.6rem;
    color: #0f0f0f;
}
.video {
    margin-top: 15px;
}
/* gird */
.wrapper.gird {
    max-width: 1200px;
    margin: 0 auto;
}
.wrapper.gird .cardWrapper {
    display: flex;
    flex-wrap: wrap;
}
.wrapper.gird .cardContainer {
    width: calc(25% - 15px);
    margin-left: 15px;
}
.wrapper.gird .cardContainer + .cardContainer {
    padding-top: 0;
    border-top: none;
}
.wrapper.gird .card {
    width: 100%;
    margin-bottom: 0;
}
.wrapper.gird .card .channel {
    display: none;
}
@media only screen and (min-width: 768px) and (max-width: 1150px) {
    .wrapper.gird {
        padding: 20px 0 0 0;
    }
    .wrapper.gird .cardContainer {
        width: calc(33.333% - 15px);
    }
}
@media only screen and (min-width: 501px) and (max-width: 768px) {
    .wrapper {
        padding: 20px 0 0 0;
    }
    .sort .icon {
        display: none;
    }
    .wrapper .cardWrapper {
        display: flex;
        flex-wrap: wrap;
    }
    .wrapper .cardContainer {
        width: calc(50% - 15px) !important;
        margin-left: 15px;
    }
    .wrapper .cardContainer + .cardContainer {
        padding-top: 0;
        border-top: none;
    }
    .wrapper .card {
        width: 100%;
        margin-bottom: 0;
    }
    .wrapper .card .channel {
        display: none;
    }
}
@media only screen and (max-width: 500px) {
    .wrapper {
        padding: 0;
    }
    .sort .icon {
        display: none;
    }
    .wrapper .cardWrapper {
        margin-left: 0;
    }
    .wrapper.gird .cardContainer {
        width: 100%;
    }
    .wrapper .cardContainer {
        margin-bottom: 15px;
    }
    .wrapper .card {
        margin-bottom: 0;
    }
}
