.wrapper {
    width: 50%;
    display: flex;
    align-items: center;
}
.wrapper .btn {
    font-size: 25px;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #fff;
    font-weight: 400;
    position: relative;
    flex-shrink: 0;
}
.volumeLine {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
}
.volumeLine input {
    width: 0;
    height: 5px;
    margin-right: 10px;
    outline: none;
    border: none;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
}
.volumeContainer {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
}
.volumeContainer:hover .volumeLine input {
    width: 50px;
    transform: scale(1);
}
.wrapper .text,
.wrapper .title {
    color: #fff;
    font-size: 1.3rem;
    white-space: nowrap;
}
/* tooltip */
.tooltip div:first-child {
    display: none;
}
.tooltip:hover div:first-child {
    display: block;
}
/* preview - size small*/
.wrapper.preview {
    width: 100%;
    flex-direction: row-reverse;
    margin-top: 10px;
}
.wrapper.preview .play,
.wrapper.preview .skip,
.wrapper.preview .volumeContainer .volumeLine,
.wrapper.preview .volumeContainer .volume {
    display: none;
}
.wrapper.preview .text {
    position: absolute;
    bottom: 16px;
    left: 10px;
}
/* size mediun */
.wrapper.medium .btn {
    font-size: 20px;
    width: 30px;
}
/* size small */
.wrapper.small {
    padding-left: 10px;
}
.wrapper.small .btn {
    display: none;
}
.wrapper.small .volumeContainer {
    display: none;
}
