.wrapper {
    width: 100%;
    padding: 8px 0 4px 0;
    display: flex;
    position: relative;
}
.wrapper.active {
    background-color: rgba(221, 230, 235, 0.949);
}
.wrapper:hover:not(.active) {
    background-color: rgba(0, 0, 0, 0.05);
}
.wrapper > a {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.wrapper + .wrapper {
    width: 100%;
    padding: 4px 0 4px 0;
    display: flex;
}
.count {
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.count span {
    font-size: 1.3rem;
}
.wrapper.active .count span {
    color: #648ba0;
}
.img {
    width: 120px;
    position: relative;
}
.img::before {
    content: '';
    padding-top: 56.25%;
    display: block;
}
.img .aspectRatio {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.img .aspectRatio img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.img.short {
    background-color: #000;
}
.img.short .aspectRatio img {
    width: auto;
    display: block;
    margin: 0 auto;
    border-radius: 0;
}
.info {
    flex: 1;
    margin: 0 30px 0 10px;
}
.title {
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.4rem;
    font-weight: 500;
}
.userName {
    margin-top: 12px;
    font-size: 1.2rem;
    color: #0f0f0f;
}
@media only screen and (max-width: 768px) {
    .wrapper.active {
        background-color: rgba(80, 78, 78, 1);
    }
    .wrapper.active .count span,
    .count,
    .title,
    .userName {
        color: #fff;
    }
}
