.pos {
    position: fixed;
    width: calc(100vw - 310px);
    left: 250;
    top: 56px;
    padding: 5px 0;
    background-color: #fff;
    z-index: 99;
}
.wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.wrapper.start::before {
    content: '';
    position: absolute;
    width: 90px;
    height: 100%;
    background: linear-gradient(to right, #fff 40%, rgba(255, 255, 255, 0.2) 100%);
    top: 0;
    left: 0;
    z-index: 2;
}
.wrapper.end::after {
    content: '';
    position: absolute;
    width: 90px;
    height: 100%;
    background: linear-gradient(to left, #fff 40%, rgba(255, 255, 255, 0.2) 100%);
    right: 0;
    top: 0;
    z-index: 2;
}
.btnPrev,
.btnNext {
    position: absolute;
    display: none;
}
.wrapper.start .btnPrev {
    display: block;
}
.wrapper.end .btnNext {
    display: block;
}
.btnPrev button,
.btnNext button {
    width: 37px;
    height: 37px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    font-size: 14px;
    line-height: 0;
}
.btnPrev button:hover,
.btnNext button:hover {
    background-color: #e5e5e5;
}
.btnPrev {
    left: 0;
    top: 2px;
    z-index: 3;
}
.btnNext {
    right: 0;
    top: 2px;
    z-index: 3;
}
.listCategory {
    display: flex;
    padding: 5px 0;
    margin: 0 -10px;
    transition: all 0.3s linear;
}
.btn {
    margin: 0 10px;
}
.btn button {
    padding: 8px 12px;
    font-size: 1.4rem;
    color: #0f0f0f;
    background-color: #f2f2f2;
    white-space: nowrap;
    border-radius: 5px;
    border: none;
}
.btn button:hover {
    background-color: #e5e5e5;
}
.btn.active button {
    background-color: #000;
    color: #fff;
}
