.main {
    flex: 1;
    width: 100%;
    max-width: 980px;
    padding: 20px 20px 0 0;
}
.video {
    width: 100%;
    position: relative;
}
.video::before {
    content: '';
    padding-top: 56.25%;
    display: block;
}
.aspectRatio {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.title,
.owner,
.des {
    width: 100%;
    margin-top: 10px;
}
@media only screen and (max-width: 1024px) {
    .main {
        padding: 0;
    }
}
