.item {
    display: block;
    width: 100%;
    display: flex;
    padding: 13px 25px;
    border-bottom: 1px solid#ccc;
}
.item:last-child {
    margin-bottom: 15px;
}
.img {
    width: 120px;
    aspect-ratio: 16/9;
    position: relative;
}
.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.duration {
    display: inline-block;
    position: absolute;
    bottom: 4px;
    right: 4px;
    padding: 2px 4px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 1.2rem;
    color: #fff;
}
.text {
    flex: 1;
    padding: 0 15px;
}
.text .title {
    font-size: 1.4rem;
    color: #0d0d0d;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.text .title:hover {
    text-decoration: underline;
}
.text .des {
    font-size: 1.2rem;
    color: #909090;
    margin-top: 8px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.time {
    font-size: 1.3rem;
    color: #0d0d0d;
    line-height: 2rem;
}
.time p + p {
    font-size: 1.2rem;
    color: #909090;
}
@media only screen and (min-width: 769px) and (max-width: 900px) {
    .item .img {
        display: none;
    }
    .item .text {
        padding: 0 15px 0 0;
    }
}
@media only screen and (max-width: 414px) {
    .item .img {
        display: none;
    }
    .item .text {
        padding: 0 15px 0 0;
    }
}
