.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo {
    position: relative;
    width: 120px;
    height: 56px;
    display: flex;
    align-items: center;
}
.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.text {
    position: absolute;
    right: -16px;
    top: 13px;
    font-weight: 500;
    color: #606060;
}
