.img {
    width: 100%;
    border-radius: 10px;
    margin-top: 16px;
    position: relative;
}
.img.short {
    background-color: #000;
}
.img::before {
    content: '';
    padding-top: 56.25%;
    display: block;
}
.aspectRatio {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.img.short img {
    width: auto;
    display: block;
    margin: 0 auto;
}
.img .videoName {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 28%;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.6) 65%, rgba(0, 0, 0, 0.8));
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    border-radius: 0 0 5px 5px;
}
.img .videoName span {
    padding: 0 20px;
    margin-bottom: 8px;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 500;
    line-height: 2.2rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.statistical {
    width: 100%;
}
.collapsableBar {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}
.videoMetrics {
    flex: 1;
    display: flex;
}
.videoMetrics .metrics {
    display: flex;
    align-items: center;
}
.videoMetrics .metrics + .metrics {
    margin-left: 25px;
}
.videoMetrics .metrics span {
    display: inline-block;
    margin-left: 7px;
    color: #606060;
    font-size: 1.3rem;
}
.collapsable {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.analytics {
    width: 100%;
    overflow: hidden;
    transition: all 0.3s ease;
}
.analytics .text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
    font-size: 1.3rem;
    color: #0d0d0d;
}
.analytics .text.title {
    color: #606060;
}
.analytics .text span + span {
    display: inline-block;
    margin-left: 20px;
    white-space: nowrap;
}
.linkBtn {
    width: 100%;
}
.linkBtn p {
    margin-top: 32px;
}
.linkBtn p + p {
    margin-top: 22px;
}
.linkBtn p a {
    color: #065fd4;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
}
