.wrapper {
    width: 100%;
}
.title {
    width: 100%;
    margin-top: 40px;
}
.title span {
    font-size: 2.5rem;
    font-weight: 700;
}
.noData {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}
.noData span {
    font-size: 1.4rem;
}
