.wrapper {
    width: 100%;
    height: 7px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.timeLine {
    width: 100%;
    height: 4px;
    background-color: rgba(249, 249, 249, 0.4);
    position: relative;
}
.wrapper:hover .timeLine {
    height: 100%;
}
.timeLine::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: var(--widthTimeLineVideo1);
    background-color: #d3d3d3;
    z-index: -1;
}
.timeLine::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: var(--widthTimeLineVideo2);
    background-color: red;
    z-index: 1;
}
.indicator {
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    left: calc(var(--widthTimeLineVideo2) - 2px);
    background-color: red;
    opacity: 0;
    transform: scale(1);
    transition: transform 0.1s ease-in-out;
}
.timeLine:hover .indicator {
    opacity: 1;
    transform: scale(2);
}
/* preview */
.wrapper.preview {
    position: absolute;
    bottom: 0;
    left: 0;
}
.wrapper.preview .timeLine {
    width: calc(100% - 14px);
    margin-left: 7px;
    margin-bottom: 12px;
}
/* size small */
.wrapper.small {
    position: absolute;
    width: calc(100% - 40px);
    bottom: 15px;
    left: 20px;
}
.wrapper.preview.small {
    width: calc(100% - 10px);
    bottom: 1px;
    left: 5px;
}
