.wrapper {
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
}
.heading {
    width: 100%;
}
.heading button {
    padding: 8px 12px;
    border-radius: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: -10px;
    background-color: transparent;
    font-weight: 500;
    position: relative;
}
.heading button:hover {
    background-color: #e5e5e5;
}
.heading button svg {
    margin-right: 10px;
    font-size: 20px;
}
.heading button span.text {
    font-size: 1.4rem;
}
.heading button div {
    display: none;
}
.heading button:hover div {
    display: block;
}
/* filter */
.filterList {
    display: flex;
    flex-wrap: wrap;
    margin-left: -32px;
    height: 0;
    overflow: hidden;
    transition: height 0.3s linear;
}
.filterList ul {
    list-style: none;
    width: calc(20% - 32px);
    margin-left: 32px;
}
.filterList ul h3 {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    padding: 19px 0;
    font-weight: 500;
    text-transform: uppercase;
}
.filterList ul li {
    font-size: 1.3rem;
    padding: 8px 0;
}
.filterList ul li a {
    text-decoration: none;
    color: #606060;
}
@media only screen and (max-width: 768px) {
    .filterList ul {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: center;
    }
    .filterList ul h3 {
        width: auto;
        border-bottom: none;
    }
    .filterList ul li {
        padding: 0;
        margin: 10px;
    }
    .filterList ul li a {
        display: inline-block;
        padding: 7px 9px;
        background-color: #e5e5e5;
        cursor: pointer;
        white-space: nowrap;
        border-radius: 5px;
    }
}
