.owner {
    flex: 1;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.ownerInfo {
    width: auto;
    display: flex;
    align-items: center;
    padding-right: 25px;
}
.noAvatar {
    width: 40px;
    height: 40px;
}
.avatar {
    width: 52px;
}
.avatar img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    overflow: hidden;
}
.info {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
}
.info .name {
    width: 100%;
    display: flex;
    align-items: center;
}
.info .name .text {
    max-width: 116px;
    position: relative;
}
.info .name .text div:first-child,
.info .name .icon div:first-child {
    display: none;
}
.info .name .text:hover div:first-child,
.info .name .icon:hover div:first-child {
    display: block;
}
.info .name .text a {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1.6rem;
    text-decoration: none;
    color: #000;
    font-weight: 500;
}
.info .name .icon {
    flex: 1;
    min-width: 20px;
    position: relative;
    margin-left: 5px;
    color: #606060;
    font-size: 1.2rem;
}
.subscriber {
    margin-top: 5px;
    font-size: 1.3rem;
    color: #606060;
}
.subscribeButton .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 82px;
    height: 36px;
    outline: none;
    background-color: #e9e9e9;
    color: #000;
    font-size: 1.4rem;
    border-radius: 20px;
    padding: 0 12px;
    cursor: pointer;
    border: none;
    white-space: nowrap;
}
.subscribeButton.loading .btn:not(.link) {
    background-color: rgba(0, 0, 0, 0.1);
    color: #bab8b8;
    cursor: no-drop;
}
.subscribeButton:not(.loading) .btn.subscriber {
    background-color: rgba(0, 0, 0, 1);
    color: #fff;
}
.subscribeButton:not(.loading) .btn:hover {
    background-color: #dcdbdb;
}
.subscribeButton:not(.loading) .btn.subscriber:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
@media only screen and (max-width: 1080px) {
    .ownerInfo {
        padding-right: 5px;
    }
}
@media only screen and (max-width: 400px) {
    .owner {
        width: 100%;
        flex-wrap: wrap;
    }
    .ownerInfo {
        width: 100%;
    }
    .info .name .text {
        max-width: 200px;
    }
    .subscribeButton {
        width: 100%;
        margin-top: 10px;
    }
    .subscribeButton .btn {
        width: 100%;
    }
}
