.actions {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    height: 36px;
}
.btn + .btn {
    margin-left: 10px;
}
.btn button {
    height: 100%;
    outline: none;
    background-color: #f2f2f2;
    padding: 0 15px;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    border: none;
    font-weight: 400;
}
.btn button:hover {
    background-color: #d8d5d5;
}
.btnActions {
    position: relative;
}
.btnActions button {
    aspect-ratio: 1/1;
    padding: 0;
    border-radius: 50%;
    justify-content: center;
}
.btn.share button {
    border-radius: 20px;
    position: relative;
    white-space: nowrap;
}
.btn.share button div:first-child {
    display: none;
}
.btn.share button:hover div:first-child {
    display: block;
}
.btn:not(.btnActions) svg {
    margin-right: 5px;
    font-size: 1.7rem;
}
.btn.likeDislike {
    display: flex;
}
.btn.likeDislike button:first-child {
    border-radius: 20px 0 0 20px;
    position: relative;
}
.btn.likeDislike button:last-child {
    border-radius: 0 20px 20px 0;
    position: relative;
}
.btn.likeDislike button:last-child::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 70%;
    left: 0;
    background-color: #ccc;
    top: 15%;
}
.btn.likeDislike button div:first-child {
    display: none;
}
.btn.likeDislike button:hover div:first-child {
    display: block;
}
.menuActions {
    width: 200px;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 0 5px #ccc;
    overflow: hidden;
    z-index: 1;
}
.menuActions ul li {
    white-space: nowrap;
    font-size: 1.4rem;
    padding: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.menuActions ul li:hover {
    background-color: #d8d5d5;
}
.menuActions ul li span {
    padding-left: 10px;
}
@media only screen and (max-width: 720px) {
    .actions {
        margin-top: 10px;
        flex: none;
    }
}
@media only screen and (max-width: 400px) {
    .actions {
        width: 100%;
        overflow: auto;
        justify-content: flex-start;
    }
    /* width */
    .actions::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    /* Track */
    .actions::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    .actions::-webkit-scrollbar-thumb {
        background: #7a7676;
        border-radius: 5px;
    }
}
