.desContainer {
    margin-top: 20px;
    border-radius: 7px;
    background-color: #f2f2f2;
    padding: 15px 10px;
}
.des {
    width: 100%;
    max-height: 100px;
    overflow: hidden;
}
.des.more {
    height: auto;
    max-height: none;
    overflow: auto;
}
.heading {
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: none;
}
.heading h3 {
    font-size: 1.6rem;
}
.heading svg {
    cursor: pointer;
}
.title {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    padding-bottom: 10px;
    display: none;
}
.title h3 {
    font-size: 1.4rem;
    line-height: 1.9rem;
}
.owner {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.owner img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    margin-right: 10px;
}
.owner span {
    font-size: 1.3rem;
}
.info1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}
.info1 .item {
    text-align: center;
}
.info1 .item strong {
    font-size: 1.8rem;
    color: #0f0f0f;
}
.info1 .item p {
    font-size: 1.2rem;
    color: #606060;
    margin-top: 6px;
}
.info2 {
    font-size: 1.4rem;
}
.text p,
.text a,
.text span {
    font-size: 1.4rem;
    line-height: 1.8rem;
}
.text a {
    text-decoration: none;
    color: #065fd4;
}
.text p {
    padding: 5px 0;
}
.more button {
    font-size: 1.4rem;
    border: none;
    padding: 7px 0;
    font-weight: 500;
}
@media only screen and (max-width: 768px) {
    .des {
        max-height: 20px;
    }
    .des.more {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        top: calc(var(--videoHeight) + 56px);
        background-color: #fff;
        border-radius: 15px 15px 0 0;
        display: flex;
        flex-direction: column;
        z-index: 995;
    }
    .des.more .heading {
        display: flex;
    }
    .des.more .title {
        display: block;
    }
    .des.more .content {
        padding: 15px;
        flex: 1;
        overflow: auto;
    }
    .des.more .content .info2 {
        display: none;
    }
    .text p,
    .text a,
    .text span {
        font-size: 1.3rem;
    }
}
