.wrapper {
    position: relative;
    overflow: hidden;
    animation: skeletonLoading 2s linear infinite;
}

.circle {
    border-radius: 50%;
}
@keyframes skeletonLoading {
    0% {
        background-color: #e6e4e4;
    }
    25% {
        background-color: #dbd9d9;
    }
    50% {
        background-color: #d0cfcf;
    }
    75% {
        background-color: #dbd9d9;
    }
    100% {
        background-color: #e6e4e4;
    }
}
